@test-color: #666666;

.navbar-container{padding:0 20px 0 10px;}
#main-container{
	margin-top:50px;
}
#sidebar{
	width:190px;
	position:static;
	float:left;}
#sidebar ul li{
	border:1px solid;
	border-color: @brand-primary;
}
#main-content{
	margin-left:190px;
	position:static;
}
