{% extends "base.html" %}
{% block head %}
{{super()}}
{% endblock %}
{% block content %}
<div class="container-fluid">
  <h1>Programación TV hoy</h1>


	<section id="examples" class="col-md10 snap-scrolling-example">
		<div id="content-1" class="content horizontal-images">
			{% for i in " "*5 %}
				<div class="channel-line">
					{% for i in " "*100 %}
					<div class="item-channel-l1">item programación</div>
					<div class="item-channel-l2">item programación</div>
					<div class="item-channel-l2">item programación</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
		
	</section>

</div>
{% endblock %}


